body {
  background-color: rgb(63, 135, 163);
}

.container {
  display: f;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: solid red;
  background-color: rgb(199, 188, 188);
  height: 600px;
  width: 600px;
}

.calculator {
  height: 410px;
  width: 420px;
  border-style: dashed;

  background-image: linear-gradient(
    to left,
    rgb(37, 87, 167),
    rgb(109, 73, 18)
  );
}

.screen {
  border-style: solid;
  border-radius: 10px;
  height: 60px;
  width: 100%;
  background-color: white;

  overflow-wrap: break-word;
  word-break: break-all;
  align-items: flex-end;
}

.result {
  font-size: 20px;
  text-align: end;
  padding-top: 15px;
  /* display: flex; */
  width: 100%;
  height: 100%;
}

button {
  appearance: none;
  height: 70px;
  width: 70px;
  font-size: 20px;
  border-radius: 50%;
}

.leftcol {
  background-color: rgb(249, 214, 99);
}
